// color

$color-green: #50ff44;
$color-gray: #f2f2f2;
$color-black-dark: rgba(0, 0, 0, .8);
$color-black-light: rgba(0, 0, 0, .1);
$color-white-light: rgba(255, 255, 255, .2);
$color-white: #ffffff;
$color-black: #000000;
$color-bg-white: #f2f2f2;
$color-bg-black: #000000;

// font size
$font-size-logo: 36px;
$font-size-title: 36px;
$font-size-title2: 24px;
$font-size-title3: 20px;
$font-size-subtitle: 16px;
$font-size-placeholder: 16px;
$font-size-lable: 14px;

// breakpoint
$mq-pad: 768px;
$mq-mobile: 767px;

// @media screen and (max-width: $mq-pad) {

// }
// @media screen and (max-width: $mq-mobile) {

// }
